.box {
  margin: 100px 350px;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

h1 {
  color: #f5f5f5;
}

.quote {
  font-weight: 600;
  font-size: larger;
  font-style: italic;
}

.search {
  color: #868585;
  font-weight: 600;
  font-size: large;
}

.author{
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  color: #868585;
}

@media screen and (max-width: 1000px) {
  .container .box {
    margin: 50px 70px;
    width: calc(100% / 2 - 20px);
  }
}

@media screen and (max-width: 750px) {
  .container .box {
    margin: 100px 200px;
    width: calc(100% / 2 - 20px);
  }
}

@media screen and (max-width: 430px) {
  .container .box {
    margin: 100px 100px;
    width: calc(100% / 2 - 20px);
  }
}